Q1) How to import pandas and check the version?

In [3]:
# importing the panda libarary
import pandas as pd

#checking the version
print(pd.__version__)

1.1.4

Q2) How to create a series from a numpy array?

In [10]:
#for creating the numpy array importing a numpy libraray
import numpy as np

#creating the numpy array
arr = np.arange(11,20)
print(arr)
print(type(arr))

#converting the numpy array into a series
series1=pd.Series(arr)
print(series1)
print(type(series1))

[11 12 13 14 15 16 17 18 19]
<class 'numpy.ndarray'>
0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64
<class 'pandas.core.series.Series'>

Q3) How to convert the index of a series into a column of a dataframe?

In [15]:
#creating a series 
arr = np.arange(21,30)
series=pd.Series(arr)
print(series)

#converting the index of series into a column of a dataframe
print("\nConverted the index of series into a column of a dataframe",series.reset_index())

0    21
1    22
2    23
3    24
4    25
5    26
6    27
7    28
8    29
dtype: int64

Converted the index of series into a column of a dataframe    index   0
0      0  21
1      1  22
2      2  23
3      3  24
4      4  25
5      5  26
6      6  27
7      7  28
8      8  29

Q4) Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [21]:
# importing pandas and matplot library for our additional custamization 
import pandas as pd
import matplotlib.pyplot as plt

#importing the seaborn libarary
import seaborn as sns

#to saw all the available dataset in seaborn library
print(sns.get_dataset_names())

#loading the mpg dataset
mpg = sns.load_dataset('mpg')
print("\n",mpg)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Q5) Which country origin cars are a part of this dataset?

In [26]:
#importing the seaborn libarary
import seaborn as sns

#loading the mpg dataset
mpg = sns.load_dataset('mpg')
print("\n",mpg)

print("\n Origin cars are from this countries =",mpg['origin'].unique())

       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

 Origin cars are from this countries = ['usa' 'japan' 'europe']

Q6) Extract the part of the dataframe which contains cars belonging to 'usa'

In [28]:
#importing the seaborn libarary
import seaborn as sns

# importing the panda libarary
import pandas as pd

#loading the mpg dataset
mpg = sns.load_dataset('mpg')
print("\n",mpg)

dataframe = pd.DataFrame(mpg)
print("Cars belonging to the USA",dataframe[dataframe['origin'].str.contains("usa")])

       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]
Cars belonging to the USA       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]